<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Terminal.Properties.Settings.ValidateCredentials"
      connectionString="Data Source=(LocalDB)\v11.0;&#xA;            Initial Catalog=TerminalMSSQL;&#xA;            User Id=VALIDATE_CREDENTIALS_LOGIN;&#xA;            Password=validate;&#xA;            Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Terminal.Properties.Settings.Agent" connectionString="Data Source=(LocalDB)\v11.0;&#xA;            Initial Catalog=TerminalMSSQL;&#xA;            User Id=AGENT_LOGIN;&#xA;            Password=agent;&#xA;            Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Terminal.Properties.Settings.Employee" connectionString="Data Source=(LocalDB)\v11.0;&#xA;            Initial Catalog=TerminalMSSQL;&#xA;            User Id=EMPLOYEE_LOGIN;&#xA;            Password=employee;&#xA;            Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Terminal.Properties.Settings.Manager" connectionString="Data Source=(LocalDB)\v11.0;&#xA;            Initial Catalog=TerminalMSSQL;&#xA;            User Id=MANAGER_LOGIN;&#xA;            Password=manager;&#xA;            Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
